* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
}

/*header*/
header {
  overflow:hidden;
  background-color: #6DB596;
  padding: 20px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

header img.logo {
  height: 50px;
  width: 50px;
  float: left;
}

header a {
  float: left;
  color: #073c07;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}


header a:hover:not(a.logo) {
  background-color: #ddd;
  color: #073c07;
}


header a.active {
  color: white;
}

/*body*/

main {
  background-color: #A476B5;
  overflow: hidden;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

img.profile-image{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 4px;
}

main h1, p {
  padding-left: 100px;
  padding-right: 100px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  float: inline-end;
  color: aliceblue;
}

.info-text {
  font-size: larger;
  column-count: 2; 
  column-gap: 40px;
  column-rule: 1px solid lightblue;
}

footer p{
  text-align-last: center;
  color: black;
}


@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
  [class*="col-"] {
    width: 100%;
  }
  .info-text{
    column-count: 1;
  }
}
