* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
}

/*header*/
header {
    overflow: hidden;
    background-color: #073c07;
    padding: 20px 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
  }
  
  header img.logo {
    height: 50px;
    width: 50px;
    float: left;
  }

  header a {
    float: left;
    color: #65b665;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  
  header a:hover:not(a.logo) {
    background-color: #ddd;
    color: #073c07;
  }
  

  header a.active {
    color: white;
  }
  
  /*body*/
  main {
    overflow: hidden;
  }

  img.header-image{
    width: 100%;
    height: 25em;
    object-fit: cover;
  }

  img.galleryphoto{
    border: 1px solid white;
    background: white;
    margin-top: 50px;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: auto;
    opacity: 0.6;
  }

  img.galleryphoto:hover {
    opacity: 1;
    transition: .5s ease;
  }

  body{
    background-color: #4c4c4c;
  }
  
  main div {
    padding: 5px 30px 10px 30px ;
  }

  body h1, h2, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #73c973;
    text-align-last: center;
  }

  body p {
    font-size: 19px;
    color: #073c07;
  }

  @media screen and (max-width: 500px) {
    header a {
      float: none;
      display: block;
      text-align: left;
    }
    header-right {
      float: none;
    }
    [class*="col-"] {
      width: 100%;
    }
  }