* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
}

/* header */
header {
  overflow:hidden;
  background-color: #65b665;
  padding: 20px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

header img.logo {
  height: 50px;
  width: 50px;
  float: left;
}

header a {
  float: left;
  color: #073c07;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}


header a:hover:not(a.logo) {
  background-color: #ddd;
  color: #073c07;
}


header a.active {
  color: white;
}
  
/* Sidebar */
.sidebar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.sidebar a {
  display: block;
  color: #073c07;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*body*/
.info {
  background-image: url(https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  padding: 300px 0px 300px 0px;
  margin-bottom: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.profile-image{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 20px;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img.profile-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

main p {
  text-align: center;
  color: #2E1916;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  line-height: normal;
}

body h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #073c07;
  text-align-last: center;
  font-size: 30px;
}

footer p {
  text-align-last: center;
}

.suculent-box {
  border-radius: 25px; 
  margin-bottom: 50px;
}

.button-28 {
  background-color: transparent;
  align-self: center;
  border: 2px solid #073c07;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: auto;
}

.button-28:hover {
  color: #fff;
  background-color: #073c07;
  transform: translateY(-2px);
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
  [class*="col-"] {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  div.content {margin-left: 0;}
}
