* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  float: left;
}

/*header*/
header {
  overflow: hidden;
  background-color: #65b665;
  padding: 20px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px; 
}

header img.logo {
  height: 50px;
  width: 50px;
  float: left;
}

header a {
  float: left;
  color: #073c07;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}


header a:hover:not(a.logo) {
  background-color: #ddd;
  color: #073c07;
}


header a.active {
  color: white;
}

/*body*/

main {
  overflow: hidden;
}

div.title {
  color: aliceblue;
  background-color: #073c07;
  float: left;
  text-align: center;
  padding: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.content-box {
  border-style: solid;
  border-width: 3px;
  border-color:#073c07; 
  border-radius:25px; 
  margin-bottom: 50px;
  margin: 20px 0 20px 0;
}

main p, h3, li{
  padding: 20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

h3 {
  padding-top: 0px;
  padding-bottom: 0px;
}

img.header-image{
  width: 100%;
  height: auto;
  float: left;
  object-fit: cover;
}

table {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  min-width: 400px;
}

th, td{
  font-size: 15px;
  text-align: left;
}

th {
  padding-right: 10px;
  padding-left: 5px;
  text-align: left;
}

footer p {
  text-align-last: center;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
  [class*="col-"] {
    width: 100%;
  }

  div.content {margin-left: 0;}
}